@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Variables */
/* Nomenclatura: element-mode */
:root {
  --blue-light: #64b5f6;
  --blue: #2196f3;
  --blue-dark: #1976d2;

  --green-light: #81c784;
  --green: #4caf50;
  --green-dark: #388e3c;

  --red-light: #e57373;
  --red: #f44336;
  --red-dark: #d32f2f;

  --yellow-light: #fff176;
  --yellow: #f0db4f;
  --yellow-dark: #fbc02d;

  --grey-light: #e0e0e0;
  --grey: #9e9e9e;
  --grey-dark: #616161;

  --black: black;
  --white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--white);
  color: var(--black);
}

/* Utilities ---------------------------------------------------------------------------- */
/* Width 100% */
.w100 {
  width: 100%;
}
/* Container */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
/* Shadow */
.shadow {
  box-shadow: 0 10px 5px -10px #000;
}
/* Round Image */
.round-img {
  border-radius: 50%;
}
.wrap {
  flex-wrap: wrap;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
/* Center ------------------------------------------------------------------------------- */
.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Center Col */
.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Center Row */
.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Section ------------------------------------------------------------------------------ */
.section {
  padding: 1rem;
  margin: 0.7rem 0;
}
.section-dotted {
  padding: 1rem;
  border: var(--grey) 1px dotted;
  margin: 0.7rem 0;
}
.section-round {
  padding: 1rem;
  border-radius: 2.5%;
  margin: 0.7rem 0;
}
/* Margin ------------------------------------------------------------------------------- */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
/* Margin Vertical: Y */
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
/* Margin Horizontal: X */
.mx {
  margin: 0 0.5rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
/* Grid --------------------------------------------------------------------------------- */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* Buttons ------------------------------------------------------------------------------ */
.btn,
.btn-blue,
.btn-green,
.btn-red,
.btn-yellow,
.btn-grey,
.btn-round,
.btn-round-blue,
.btn-round-green,
.btn-round-red,
.btn-round-yellow,
.btn-round-grey,
.btn-lines,
.btn-lines-blue,
.btn-lines-green,
.btn-lines-red,
.btn-lines-yellow,
.btn-lines-grey {
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
}
/* btn-round */
.btn-round,
.btn-round-blue,
.btn-round-green,
.btn-round-red,
.btn-round-yellow,
.btn-round-grey {
  border-radius: 5px;
}
/* btn-lines */
.btn-lines,
.btn-lines-blue,
.btn-lines-green,
.btn-lines-red,
.btn-lines-yellow,
.btn-lines-grey {
  background-color: rgba(255, 255, 255, 0);
  color: var(--blue);
  border: solid 0.1rem;
}
/* Default Hover */
.btn:hover,
.btn-round:hover,
.btn-lines:hover {
  background-color: var(--blue-dark);
  color: var(--white);
  border-color: var(--blue);
}
/* Colors Buttons*/
/* btn & btn-round*/
.btn-blue,
.btn-round-blue {
  background-color: var(--blue);
}
.btn-green,
.btn-round-green {
  background-color: var(--green);
}
.btn-red,
.btn-round-red {
  background-color: var(--red);
}
.btn-yellow,
.btn-round-yellow {
  background-color: var(--yellow);
}
.btn-grey,
.btn-round-grey {
  background-color: var(--grey);
}
/* btn-lines */
.btn-lines-blue {
  border-color: var(--blue);
  color: var(--blue);
}
.btn-lines-green {
  border-color: var(--green);
  color: var(--green);
}
.btn-lines-red {
  border-color: var(--red);
  color: var(--red);
}
.btn-lines-yellow {
  border-color: var(--yellow);
  color: var(--yellow);
}
.btn-lines-grey {
  border-color: var(--grey);
  color: var(--grey);
}
/* btn:hover, btn-round:hover & btn-lines:hover */
.btn-blue:hover,
.btn-round-blue:hover,
.btn-lines-blue:hover {
  background-color: var(--blue-dark);
  color: var(--white);
}
.btn-green:hover,
.btn-round-green:hover,
.btn-lines-green:hover {
  background-color: var(--green-dark);
  color: var(--white);
}
.btn-red:hover,
.btn-round-red:hover,
.btn-lines-red:hover {
  background-color: var(--red-dark);
  color: var(--white);
}
.btn-yellow:hover,
.btn-round-yellow:hover,
.btn-lines-yellow:hover {
  background-color: var(--yellow-dark);
  color: var(--white);
}
.btn-grey:hover,
.btn-round-grey:hover,
.btn-lines-grey:hover {
  background-color: var(--grey-dark);
  color: var(--white);
}
/* Buttons END -------------------------------------------------------------------------- */
